<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login Page</title>
    </head>

    <body>
        <fieldset>
            <legend>Login Page</legend>

            <form th:action="@{/login}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required/><br/>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required/><br/>

                <button type="submit" class="btn">Log In</button>
                <button type="button" class="btn">Create an Account</button>
            </form>

            <div th:if="${param.error}" style="color: red;">
                Invalid username and/or password.
            </div>

            <div th:if="${param.logout}" style="color: green;">
                You have been logged out.
            </div>

            <div th:if="${loginSuccess}" style="color: green;">
                Login successful!
            </div>

            <div th:if="${loginFailed}" style="color: red;">
                Login failed. Please check your credentials.
            </div>
        </fieldset>
    </body>
</html>